/*#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
}

*/
/*
#delete-button:hover {
  color: rgb(214, 39, 39);
  background-color: #e5e5e5;
}

#add-button:hover {
  color:rgb(23, 130, 4);
  background-color:#e5e5e5;
}
*/

/*
#grid-container {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 20px;
}

.ag-theme-alpine {
  width: 100%;
  height: 500px;
}
*/
/*
.column-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  align-items: center;
}

.row-container {
  display: flex;  
  align-items: center; 
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
}
*/
/* 
button {
  border-radius: 5px;
  padding: 3px 0;
  min-width: 90px;
  font-weight: 600;
  cursor: pointer;
  border-color: #1a1a1a;
  border-width: 1px;
}

fieldset {
  max-width: 95%;
  padding: 20px 0;
}
*/
/*
header {
  padding: 0 4%;
}

h1 {
  margin: 25px 3%;
  color: rgb(209, 209, 209);
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: 600;
}

label {
  color: #0f0f0f;
}
*/
/*
table {
  width: 80%;
  margin-top: 30px;
  justify-self: center;
  text-align: center;
  border-collapse: separate;
  border-spacing: 40px 0;
  
}

table th {
  padding: 8px 0px;
  border-bottom: 1px groove #0f0f0f;
  width: fit-content;
}

table td {
  padding: 4px;
} 
*/





